@import '../common/var';
.be-textarea {
  textarea {
    padding: 5px 15px;
    width: 100%;
    min-height: 34px;
    height: 34px;
    line-height: $--base-line-height;
    color: var(--text-primary);
    font-size: $--font-size-base;
    border-radius: $--border-radius-base;
    border: 1px solid #dcdfe6;
    resize: vertical;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: none;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  }
  textarea::placeholder {
    width: 100%;
    color: var(--text-placeholder);
    line-height: $--base-line-height;
    font-size: $--font-size-base;
  }
  textarea:focus {
    outline: none;
    border-color: #409eff;
  }
}
